<head>
  <meta charset="utf-8">
  <!-- Remove the favicon erro -->

  <!-- BootStrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <!-- JQuery -->
  <script src="//code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

  <!-- Font Awesome Stylesheet -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
    integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous" />
    

  <link rel="stylesheet" href="main.css">
  <link rel="stylesheet" href="/about.css">

<!-- favicon  -->
<link rel="shortcut icon" href="data:," />

</head>

<% if(currentUser) { %>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="btn UpdateUser"  href="/schools/<%= currentUser._id %>/students/updateUser" aria-haspopup="true" aria-expanded="false">
      <img src="https://source.unsplash.com/40x40/?dogs'" width="60" height="60" class="d-inline-block align-top rounded-pill " alt="" >
    </a>
    <h4 class="btn text-white UpdateUser" href="/schools/<%= currentUser._id %>/students/updateUser"  > <%= currentUser.username %></h4>
  <a class="navbar-brand" href="/schools/<%= currentUser._id %>/students/home/" style="margin-left: 38%">
    <i class="fab fa-cuttlefish fa-3x"></i>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
<% } %>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" id="home" href="/schools/<%= currentUser._id %>/students/home/">Home</a>
      </li>
      <li class="nav-item  about">
        <a class="nav-link" id="about" href="/schools/<%= currentUser._id %>/students/aboutPage/">About</a>
      </li>
    </ul>
    <ul>
      <li class="nav-item">
        <a href="/logout" class="nav-link"><i class="fas fa-sign-out-alt fa-2x text-light"></i></a>
      </li>
    </ul>

  </div>
</nav>

<div class="modal fade UpdateUserModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>



<div class="container errorClass">
  <% if(error && error.length > 0 ) { %>
  <div class="alert alert-danger text-center" role="alert">
    <%= error %>
  </div>
  <% } %> 
  <% if(success && success.length > 0 ) { %>
  <div class="alert alert-success text-center">
    <%= success %>
  </div>

  <% } %>
</div>

<script>
  $(".errorClass").delay(2000).slideUp(1000);
</script>

<script></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
</script>

<script src="/main.js"></script>

<%- include ('../partials/footer.ejs') %>
<!-- TODO: This ^^^ is not working -->