<head>
        <!-- BootStrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    

    <body>
        <div class="container">
            <div class="modal-header d-flex justify-content-center">
                <h3 class="modal-title">Edit <%= user.name %> </h3>
            </div>
            <div class="modal-body text-center">
                <form method="POST" action="/<%= user._id %>?_method=PUT">
                    <div class="form-group">
                        <input type="text" class="text-center form-control" value="<%=user.name %>" name="updatedUser[name]"  aria-describedby="Student Name" required>
                    </div>
                    <div class="form-group">
                        <input type="number" class="text-center form-control" name="updatedUser[balance]" value="<%=user.balance %>" required> 
                    </div>
                    <div class="form-group">
                    <input type="text" name="updatedUser[picture]" value="<%= user.picture%>" class="text-center form-control">
                    </div>
    
                    <button type="submit" class="btn btn-outline-info btn-lg w-50">Submit</button>
                </form>
            </div>
        </div>
    
    </body>
    
    <%- include ('../views/partials/footer.ejs') %>