<%- include ('../views/partials/header.ejs') %>

<div class="container">
    <div class="row mb-5" style="margin-left: 130px;">
        <a href="/new" id="addStudent" class="mr-4 mt-5">
            <i class="fas fa-plus fa-9x text-info"></i>
        </a>
        <form class="form-inline d-none d-lg-block" style="margin-top: 60px;">
            <input class="form-control mr-3 py-3 text-center" style="width: 500px;" type="search" placeholder="Search"
                aria-label="Search">
            <button class="btn btn-outline-info btn-lg" type="submit">Search</button>
        </form>
    </div>
</div>

<!-- The users cards -->
<div class="container">
    <div class="row">
        <% users.forEach(function(user){ %>
        <div class="col-lg-4 mb-3">
            <div class="card" style="width: 18rem;">
                <a href="/<%= user._id %>">
                    <img src="<%= user.picture %>" alt="" class="card-img-top">
                </a>
                <div class="card-body text-center">
                    <a href="/<%= user._id %>/edit" class="edit">
                        <h5 class="card-title"><%= user.name%></h5>
                    </a>
                    <h6 class="card-subtitle mb-2 text-muted">$<%= user.balance%></h6>
                </div>
            </div>
        </div>
        <% }) %>
    </div>
</div>

<div class="modal fade" id="addStudentModal" tabindex="-1" role="dialog" aria-labelledby="modalAdd" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>

<div class="modal fade" id="editStudentModal" tabindex="-1" role="dialog" aria-labelledby="modalAdd" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>



<%- include ('../views/partials/footer.ejs') %>